<script setup>
import MapMaharashtra from "./components/MapMaharashtra.vue";
</script>

<template>
  <header>
    <h2>Prototype integration of a SVG map in a vuejs 3 component</h2>
    <p>
      <b>Homepage</b>:
      <a href="https://gitlab.com/simevo/vue3-svg-map"
        >https://gitlab.com/simevo/vue3-svg-map</a
      >
    </p>
  </header>
  <main>
    <MapMaharashtra />
  </main>
</template>

<style></style>
